#body_content_left{
	display: block;
	width: 700px;
	float: left;
}

#body_content_right{
	display: block;
	width: 200px;
	float: right;
	background-color: #d3c9c0;
	padding: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	h2{
		color: #ac623e;
		font-size: 0.9em;
	}
}

ul#categories{
	padding: 0;
	margin: 0;
	
	li{
		list-style-type: none;
		padding-left: 10px;
		a{
			text-decoration: none;
			color: #717bab;
		}
	}

}

ul#blog_posts{
	padding: 0;
	margin: 0;
	
	li{
		padding-left: 10px;
		a{
			text-decoration: none;
			color: #717bab;
		}
	}
}